<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Heritage Monuments of India</title>

    <meta name="viewport" content="width=device-width" />

    <link href="../content/bootstrap.min.css" rel="stylesheet" media="all"/>
    <link href="../content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../content/toastr.css" rel="stylesheet" />
    <link href="../content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../content/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../content/datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="../content/animate.css" rel="stylesheet" type="text/css" />
    <link href="../content/landing/menuTemplate1.css" rel="stylesheet" type="text/css" />
    <link href="../content/landing/custom.css" rel="stylesheet" type="text/css" />
    <link href="../content/landing/style.css" rel="stylesheet">
    <link href="../content/landing/style1.css" rel="stylesheet">
    <link href="../content/landing/flexslider.css" rel="stylesheet">
    <!--<link href="../content/landing/responsive-slider.css" rel="stylesheet">-->

    <script data-main="../scripts/main-landing.js" src="../scripts/require.js"></script>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top tranparent_nav" style="height: 62px;">
    <div class="container-fluid">   
        <img src="../images/form/logo4.png" style="width: 274px;height: 63px;margin-top: 0px;margin-left: 248px;margin-right: 27px;" class="pic_size" alt="" />
        <img src="../images/form/Arch.jpg" style="height: 54px;margin-top: 4px;margin-left: 81px;width: 55px;" class="pic_size" alt="" />
        <img src="../images/form/canara_bank.png" style="width: 260px;height: 62px;margin-top: 0px;margin-left: 95px;" class="pic_size" alt="" />
    </div>
</nav>

<div style = "margin-top:100px">
    <center>
    <h3>
        Your payment of <b>Rs. <%= data.amount%> </b> has been failed.
        Please try again.
    </h3><br>
    <h4>Click
        <a href="/">here</a> to go back
    </h4>
    </center>
</div>
</div>


</body>
</html>