<head>
    <link rel="shortcut icon" href="http://vannteqfarm.com/favicon.ico" type="image/x-icon" />
</head>

<body>
    <h1 style="
    background: #33373a;
    color: white !important;
    padding: 4%;
">
        <%= title %> | <a target="_blank" href="http://vannteqfarm.com" style="color: white;">VannTeq Farm</a> | <a target="_blank" href="http://vannteqfarm.com" style="color: white;">Tech Farmerz</a>
    </h1>

    <h2>What is an API ?</h2>
    <p>In <a target="_blank" href="https://en.wikipedia.org/wiki/Computer_programming" title="Computer programming">computer programming</a>, an <b>application programming interface</b> (<b>API</b>) is a set of <a target="_blank" href="https://en.wikipedia.org/wiki/Subroutine"
            title="Subroutine">subroutine</a> definitions, <a target="_blank" href="https://en.wiktionary.org/wiki/Protocol" class="extiw" title="wiktionary:Protocol">protocols</a>, and tools for building <a target="_blank" href="https://en.wikipedia.org/wiki/Application_software"
            title="Application software">application software</a>. In general terms, it is a set of clearly defined methods of <b>communication</b> between various software components. A good API makes it easier to develop a <a target="_blank" href="https://en.wikipedia.org/wiki/Computer_program"
            title="Computer program">computer program</a> by providing all the building blocks, which are then put together by the <a target="_blank" href="https://en.wikipedia.org/wiki/Programmer" title="Programmer">programmer</a>. An API may be for a web-based
        system, <a target="_blank" href="https://en.wikipedia.org/wiki/Operating_system" title="Operating system">operating system</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Database_system" class="mw-redirect" title="Database system">database system</a>,
        <a target="_blank" href="https://en.wikipedia.org/wiki/Computer_hardware" title="Computer hardware">computer hardware</a> or <a target="_blank" href="https://en.wikipedia.org/wiki/Library_(computing)" title="Library (computing)">software library</a>.
        An API specification can take many forms, but often includes specifications for <a target="_blank" href="https://en.wikipedia.org/wiki/Subroutine" title="Subroutine">routines</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Data_structure"
            title="Data structure">data structures</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Class_(computer_programming)" title="Class (computer programming)">object classes</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Variable_(computer_science)"
            title="Variable (computer science)">variables</a> or <a target="_blank" href="https://en.wikipedia.org/wiki/Remote_procedure_call" title="Remote procedure call">remote calls</a>.
        <a target="_blank" href="https://en.wikipedia.org/wiki/POSIX" title="POSIX">POSIX</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Windows_API" title="Windows API">Windows API</a> and <a target="_blank" href="https://en.wikipedia.org/wiki/Advanced_SCSI_programming_interface"
            class="mw-redirect" title="Advanced SCSI programming interface">ASPI</a> are examples of different forms of APIs. Documentation for the API is usually provided to facilitate usage.
        <h3>Find More <a target="_blank" href="https://en.wikipedia.org/wiki/Application_programming_interface">Here</a></h3>
    </p>

    <iframe src="http://vannteqfarm.com" style="width: 96%;margin: 2%;border: none;min-height: 700px;">
        <p>Your browser does not support iframes.</p>
      </iframe>

</body>